* {
      font-family: Arial, Helvetica, sans-serif;
}


body {
      padding: 0;
      margin: 0;
}


header {
      background-image: url(bg.jpeg);
      height: 400px;
     background-position: center;
     background-size: cover;
}
.wrapper {
      margin: 0 130px;
}
.clr {
      color: white;
}
#space {
      padding-top: 120px;
      margin-top: 0;
      font-size: 45px;
}
.hdr {
      width: 245px;
}
.gig {
      padding-top: 40px;
}
.pic img {
      width: 170px;
      height: 100px;
}
.flex-container {
      display: flex;
      justify-content: space-between;
}
.para {
      font-weight: 600;
      width: 145px;

}
.talent h1 {
      text-align: center;
      margin-top: 105px;
}
.contact img {
      width: 100px;
      height: 86px;
}
.flex-container2 {
      display: flex;
      justify-content: space-between;
}
.contact h3 {
      font-size: 16px;
}
.contact {
      width: 190px;
      text-align: center;
}

footer {
      background-color: #000000;
      color: white;
      height: 200px;
}
.ftr  {
      padding-top: 65px;
}













