body {
      margin: 0px 150px;
      padding: 0px;
}

.container {
     
    width: 100%;
    height: 1000px;
    background-image: url(bg.jpg);
    /* background-position: 50% 50%; */
      /* background-color: aquamarine; */
} 
.flex-container {
      
      justify-content: center;
      display: flex;
      align-items: center;
}
.contact-us {
      background-color:whitesmoke;
} .form {
      background-color: grey;
      
}
.icon {
      object-fit: contain;
      width: 100%;
      height: 100%;
}