.container{
      text-align: center;
    


}
.calculator {
      display: inline-block;
      background-color: rgb(51, 47, 47);
      border-radius: 20px;
      padding: 20px;
}




table {
      margin: 0 auto;
}
input {
      font-size: 30px;
      border: 2px solid black;
      border-radius: 12px;
}
button {
      background-color:gray;
      width: 90px;
      height: 40px;
      font-size: 22px;
      border-radius: 14px;
}
.opacity {
      opacity: 0.4;
      color:red;
}