/* .container {
      background-color: aquamarine;
      width: 50%;
      margin: 10px;
    padding: 10px;
    height: 400px;
}
.space {
      padding: 10px;
}
input[type=text] {
      padding: 10px;
      font-size: 15px;
      background-color: rgb(129, 223, 223);
}
input[type=submit] {
      padding: 10px;
      font-size: 15px;
      background-color: red;
}
input {
     margin: 2px; */
/* } */